# Include everything the framework requires
# You will automatically get updates for all versions starting with "1.".
rlbot==1.*
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.1+cpu
rlgym-compat>=1.1.0
rlbot_gui
eel

rlgym==1.1.0
rlgym-tools==1.4.0
stable-baselines3[extra]
numpy
